body {
  font-family: 'Raleway', sans-serif;
}

nav {
  background: #e7bb35;
  box-shadow: 1px 1px 10px #d2d3d4;
}

nav spam {
  font-family: 'Paytone One', sans-serif;
  font-size: 28px;
  color: #000000;
}

nav img {
  width: 30px;
  height: 30px;
}

#map {
  height: 50vh;
  border: 2px solid #e7bb35;
  box-shadow: 2px 2px 5px #e7bb35;
}

section {
  padding: 2vh 0vh;
  background: #ffffff;
}

footer {
  background: #000000;
  color: #ffffff;
  padding: 1vh;
}

@media (max-width: 320px) {
  .text-route, .box-image-bicicleta {
    display: none;
  }
}

@media (min-width: 321px) {
  section {
    padding: 5vh;
  }
  .image-bicicleta {
    height: 100px;
  }
  #map {
    height: 70vh;
  }
  footer {
    padding: 1.5vh;
  }
}
